/* CSS for the IME++ website */

/* I find it awesomely beautiful a page with no
 * content on the sides when the screen is large */
.container {
    max-width: 1000px;
}

/* Makes the accordion toggable from
 * any point of the panel heading */
.panel-heading {
    cursor:pointer;
}

/* Puts nice arrows on the accordion :) */
.panel-clickable h3:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-clickable.collapsed h3:after {
    content:"\e080";
}

/* Padding to prevent navbar to overlay the content */
body {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  min-height: 100vh;
}


.thumbnail {
  color: black;
}

.thumbnail:hover {
  color: black;
  text-decoration: none;
  background: #ddd;
}

a.showcase {
  display: table;
  text-align: center;
}

a.showcase > h2 {
  display: table-cell;
  vertical-align: middle;
}

a.showcase-sm {
  width: 100%;
}

a.showcase-lg {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}

hr {
  margin-bottom: 10px;
  margin-top: 10px;
}

section {
  padding-bottom: 20px;
}

/* Media queries */
@media (min-width:  1200px) {
  a.showcase-sm {
    height: 130px;
  }

  a.showcase-lg {
    height: 180px;
  }
}
