<div class="row jumbo">
  <div class="container main">
    <div class="col-sm-12"><img src="imgs/icpc_logo.png" class="img-responsive"></div>
    <div class="col-sm-10 col-sm-offset-1">
      <div class="lead text-center" style="">
        <h1>Programação Competitiva</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <h2>Grupo de Programação Competitiva</h2>
      <p>
      Estudo de algoritmos e estruturas de dados voltado para a participação na
      competição de programação competitiva ACM-ICPC.
      </p>
    </div>
    <div class="col-sm-5">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
        <form action="//imeplusplus.us12.list-manage.com/subscribe/post?u=31adba5fa9ac8d2c5b3fb5aa1&amp;id=ff1036d94d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Inscreva-se à lista de emails</h2>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email</label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_31adba5fa9ac8d2c5b3fb5aa1_ff1036d94d" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Inscreva-se à lista" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
  <div class="col-sm-12">
    <h2>Encontros</h2>
    <p>Semanalmente:</p>
    <ul>
      <li>Segunda: 16h30</li>
      <li>Quinta: 16h30</li>
      <li>Sábado: 9h00</li>
    </ul>
    <p>
    Os encontros acontecem três vezes na semana e tem como objetivo reunir os alunos
    participantes para trocar conhecimentos.
    </p>
    </p>
    Um encontro é dedicado à resolução de um <i>contest</i> e outro ao <i>upsolving</i>.
    </p>
  </div>
  <div class="col-sm-12">
    <h2>Histórico do Instituto</h2>
    <h3>Competições</h3>
    <ul>
      <li>2008 - ACM-ICPC World Finals - Ranking 66&ordm;</li>
      <li>2008 - ACM-ICPC South-America Regionals</li>
      <li>2012 - ACM-ICPC South-America Regionals - Ranking 12&ordm;</li>
      <li>2013 - ACM-ICPC South-America Regionals - Ranking 6&ordm;</li>
      <li>2014 - ACM-ICPC World Finals - Ranking 26&ordm; **</li>
      <li>2014 - ACM-ICPC South-America Regionals - Ranking 10&ordm;</li>
      <li>2015 - ACM-ICPC South-America Regionals - Ranking 22&ordm;</li>
    </ul>
    <p>
    <small>**: Melhor equipe da América Latina e melhor participação do Brasil em todas as mundiais.</small>
    </p>
  </div>
</div>
